/* Universal Selector */
* {
  font-family: 'Times New Roman', Times, serif;
}

/* Tag Selector */
p {
  color: rgb(36, 36, 188);
}

/* ID Selector */
#main-title {
  color: rgb(41, 240, 41);
  text-align: center;
}

/* Class Selector */
.highlight {
  background-color: rgb(231, 231, 46);
}

/* Attribute Selector */
input[type="text"] {
  border: 2px solid rgb(33, 33, 180);
  padding: 5px;
}
